<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdvanceJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eample1</display-name>
    <servlet-name>Eample1</servlet-name>
    <servlet-class>Eample1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eample1</servlet-name>
    <url-pattern>/Eample1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Example1</display-name>
    <servlet-name>Example1</servlet-name>
    <servlet-class>com.servlet.Example1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example1</servlet-name>
    <url-pattern>/Example1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.servlet.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>com.servlet.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.servlet.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet2</display-name>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>com.servlet.servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentForm</display-name>
    <servlet-name>StudentForm</servlet-name>
    <servlet-class>com.servlet.StudentForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentForm</servlet-name>
    <url-pattern>/StudentForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookiesevlet</display-name>
    <servlet-name>Cookiesevlet</servlet-name>
    <servlet-class>com.servlet.Cookiesevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookiesevlet</servlet-name>
    <url-pattern>/Cookiesevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookies</display-name>
    <servlet-name>GetCookies</servlet-name>
    <servlet-class>com.servlet.GetCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookies</servlet-name>
    <url-pattern>/GetCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSession</display-name>
    <servlet-name>GetSession</servlet-name>
    <servlet-class>com.servlet.GetSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSession</servlet-name>
    <url-pattern>/GetSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutSevlet</display-name>
    <servlet-name>LogoutSevlet</servlet-name>
    <servlet-class>com.servlet.LogoutSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutSevlet</servlet-name>
    <url-pattern>/LogoutSevlet</url-pattern>
  </servlet-mapping>
</web-app>